.Button {
    background: #ffffff;
    display: flex;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 25%;
    font-size: 24px;
    color: rgb(0, 0, 0);
    height: 20%;
    min-width: 25%;
}

.Button[data-size="2"] {
    height: 40%;
}

.Button[data-value="null"] {
    pointer-events: none;
}

.Button:hover {
    background: #8d8d8d94;
    cursor: default;
}